
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>jfinal</filter-name>
    <!-- 这里一定要引用JFinal的过滤器 -->
    <filter-class>com.jfinal.core.JFinalFilter</filter-class>
    <init-param>
      <!-- 要注意这里一定要配置为configClass，且注意大小写 -->
      <param-name>configClass</param-name>
      <!-- 引用了自定义的配置类 -->
      <param-value>config.DemoConfig</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>jfinal</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>